<div id="myCarousel" class="carousel slide pointer-event" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active ">
        <!-- <svg class=""  width="100%" height="100%" xmlns="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffondosmil.com%2Fnegro&psig=AOvVaw2VkH2hRuHxgEgPZLmrTzEx&ust=1679249019546000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKju5azs5v0CFQAAAAAdAAAAABAD" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
 -->       
      <img src="../../../../assets/img/6.webp" class="d-block w-100 "   width="300px" height="450px" alt="...">
     <div class="container">
          <div class="carousel-caption">
            <h1>Slot Machine</h1>
           <!--  <p> Is a gambling machine that creates a game of chance for its customers.</p>
           -->  <p><a class="btn btn-lg btn-primary" routerLink="/online">Play now</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/img/7.jpg" class="d-block w-100"   width="300px" height="450px"alt="...">
         <div class="container">
          <div class="carousel-caption text-start">
            <h1>Roulette</h1>
           <!--  <p>Roulette is a casino game named after the French word meaning little wheel which was likely developed from the Italian game Biribi.</p>
            --> <p><a class="btn btn-lg btn-primary" routerLink="/roulette">Play now</a></p>
          </div>
        </div>
      </div>

        <div class="carousel-item ">
            <img src="../../../../assets/img/8.jpg" class="d-block w-100"   width="300px" height="450px" alt="...">
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Poker</h1>
               <!--  <p>Poker is a family of comparing card games in which players wager over which hand is best according to that specific game's rules. It is played worldwide, however in some places the rules may vary.</p>
 -->                <p><a class="btn btn-lg btn-primary" routerLink="/online">Play now</a></p>
              </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
 
  <div class="container marketing">



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Slot machine</h2>
        <p class="lead">Slot machines are also known pejoratively as one-armed bandits because of the large mechanical levers affixed to the sides of early mechanical machines and the games' ability to empty players' pockets and wallets as thieves would. <br> <br>
            A slot machine's standard layout features a screen displaying three or more reels that "spin" when the game is activated. Some modern slot machines still include a lever as a skeuomorphic design trait to trigger play. However, the mechanics of early machines have been superseded by random number generators, and most are now operated using buttons and touchscreens.
        </p>
      </div>
      <div class="col-md-5">
        <img src="../../../../assets/img/9.jpg" class="d-block w-100"   width="350px" height="350px" alt="...">
     </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Poker</h2>
        <p class="lead">Poker is a family of comparing card games in which players wager over which hand is best according to that specific game's rules. It is played worldwide, however in some places the rules may vary. While the earliest known form of the game was played with just 20 cards, today it is usually played with a standard deck, although in countries where short packs are common, it may be played with 32, 40 or 48 cards. <br><br> This poker games vary in deck configuration, the number of cards in play, the number dealt face up or face down, and the number shared by all players, but all have rules that involve one or more rounds of betting. <br> <br> In most modern poker games, the first round of betting begins with one or more of the players making some form of a forced bet (the blind or ante). </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../../../assets/img/10.webp" class="d-block w-100"   width="350px" height="350px" alt="...">  </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Roulette</h2>
        <p class="lead">Roulette is a casino game named after the French word meaning little wheel which was likely developed from the Italian game Biribi. In the game, a player may choose to place a bet on a single number, various groupings of numbers, the color red or black, whether the number is odd or even, or if the numbers are high (19–36) or low (1–18). <br><br> To determine the winning number, a croupier spins a wheel in one direction, then spins a ball in the opposite direction around a tilted circular track running around the outer edge of the wheel. </p>
      </div>
      <div class="col-md-5">
        <img src="../../../../assets/img/11.jpg" class="d-block w-100"   width="350px" height="350px" alt="...">  </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

     <!-- Three columns of text below the carousel -->
     <div class="row">
        <div class="col-lg-4">
          <img class= "rounded-circle " width="140" height="140" src="../../../../assets/img/13.jpg" alt="">
          <h2 class="fw-normal">Ana Diaz</h2>
          <p>I love playing on that page, the experience is friendly and they help me when i need that.</p>
          <p><a class="btn btn-secondary" routerLink="/game">View Games »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class= "rounded-circle " width="140" height="140" src="../../../../assets/img/14.jpg" alt="">
          <h2 class="fw-normal">Jose Saez</h2>
          <p>I'm poker player and i preffer this page because i can play with live dealer, that's awsome for the play experience.</p>
          <p><a class="btn btn-secondary" routerLink="/game">View Games »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class= "rounded-circle " width="140" height="140" src="../../../../assets/img/12.jpg" alt="">
          <h2 class="fw-normal">Sergio Ortiz</h2>
          <p>That's my first experience in a virtual casino and was perfect, the live dealer are so amazing, i want to play again...</p>
          <p><a class="btn btn-secondary" routerLink="/game/">View Games »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

  </div>