<div id="myCarousel" class="carousel slide pointer-event" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active ">
        <!-- <svg class=""  width="100%" height="100%" xmlns="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffondosmil.com%2Fnegro&psig=AOvVaw2VkH2hRuHxgEgPZLmrTzEx&ust=1679249019546000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKju5azs5v0CFQAAAAAdAAAAABAD" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
 -->       
      <img src="../../../../assets/img/17.jpg" class="d-block w-100 "   width="300px" height="450px" alt="...">
     <div class="container">
          <div class="carousel-caption">
            <h1>Slot Machine</h1>
           <!--  <p> Is a gambling machine that creates a game of chance for its customers.</p>
           -->  <p><a class="btn btn-lg btn-primary" routerLink="/online">Play now</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/img/15.jpg" class="d-block w-100"   width="300px" height="450px"alt="...">
         <div class="container">
          <div class="carousel-caption text-start">
            <h1>Roulette</h1>
           <!--  <p>Roulette is a casino game named after the French word meaning little wheel which was likely developed from the Italian game Biribi.</p>
            --> <p><a class="btn btn-lg btn-primary" routerLink="/roulette">Play now</a></p>
          </div>
        </div>
      </div>

        <div class="carousel-item ">
            <img src="../../../../assets/img/16.webp" class="d-block w-100"   width="300px" height="450px" alt="...">
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Poker</h1>
               <!--  <p>Poker is a family of comparing card games in which players wager over which hand is best according to that specific game's rules. It is played worldwide, however in some places the rules may vary.</p>
 -->                <p><a class="btn btn-lg btn-primary" routerLink="/online">Play now</a></p>
              </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
 
  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">PLAY YOUR FAVORITES AND WIN BIG</h2>
        <p class="lead">Joker Casino offers a fun and friendly gaming atmosphere with excitement around every corner. With an incredible array of 2,000 slot machines, including timeless classics, video poker, and the latest themed games, players at every level can find hours of gaming exhilaration. Our solid selection of 35 table games has something for everyone, and our progressive jackpots mean you have the chance to hit it big! So pull up a chair and get ready for gaming excitement like you’ve never experienced!</p>
        <p><a class="btn btn-lg btn-primary" routerLink="/online">Play now</a></p>
    </div>
      <div class="col-md-5">
        <img src="../../../../assets/img/19.JPG" class="d-block w-100"   width="350px" height="350px" alt="...">
     </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Slots</h2>
        <p class="lead">Joker Casino Resort is home to the best slot games in San Jacinto. Win the biggest jackpots on the best new machines and all your old favorites!</p>
        <p><a class="btn btn-lg btn-primary" routerLink="/online">Play now</a></p>
    </div>
      <div class="col-md-5 order-md-1">
        <img src="../../../../assets/img/18.JPG" class="d-block w-100"   width="350px" height="350px" alt="...">  </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Fun that never stops</h2>
        <p class="lead">Feel the thrills of Las Vegas in the comfort of home with incredible graphics, effects and sounds. Trigger bonus rounds, features and free spins galore! We add great new social casino games every week, so the fun truly never stops. </p>
        <p><a class="btn btn-lg btn-primary" routerLink="/online">Play now</a></p>
    </div>
      <div class="col-md-5">
        <img src="../../../../assets/img/20.JPG" class="d-block w-100"   width="350px" height="350px" alt="...">  </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Blackjack Online</h2>
        <p class="lead">Blackjack is one of the most popular casino games, and now players in certain states can enjoy this game online just as they would at a real casino. But before you play real money blackjack, there are a few things you should know. Read on as we break down everything you need to know before playing blackjack online. Our guide covers the top online casinos, what games are offered, what bonus offers to look for, and how to find live dealer blackjack online.</p>
        <p><a class="btn btn-lg btn-primary" routerLink="/online">Play now</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../../../assets/img/21.JPG" class="d-block w-100"   width="350px" height="350px" alt="...">  </div>
    </div>

    <!-- /END THE FEATURETTES -->
   
  
  
  </div>
<router-outlet></router-outlet>