<body style="width: 100%; height: 540px">
    <div class="rotate-device">
        <div class="holder"></div>
    </div>
    <div class="loading">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <iframe id="gameframe" sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" allowtransparency="true" src="https://netent-static.casinomodule.com/games/americanroulette3_mobile_html/game/americanroulette3_mobile_html.xhtml?staticServer=https%3A%2F%2Fnetent-static.casinomodule.com%2F&amp;targetElement=netentgame&amp;flashParams.bgcolor=000000&amp;gameId=americanroulette3_not_mobile&amp;server=https%3A%2F%2Fnetent-game.casinomodule.com%2F&amp;lang=es&amp;sessId=DEMO8886072-661471324-EUR&amp;operatorId=default" style="width: 100%; height: 100%;"></iframe>
    </body>