<body marginwidth="0" marginheight="0" style="width: 100%; height: 540px;">
    <script>
                setTimeout(showPromoBox, 3*60*1000);
    </script>
    <div class="rotate-device">
        <div class="holder"></div>
    </div>
    <div class="loading">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <iframe id="gameframe" sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" allowtransparency="true" src="https://games.vivogaming.com/?token=ICE2016-2&amp;language=ES&amp;application=lobby&amp;operatorID=1453&amp;homeUrl=http://www.vivogaming.com&amp;serverID=51681981&amp;isInternalPop=true&amp;rng=ALL&amp;studio=NOPHP&amp;LobbySkin=nophp" style="width: 100%; height: 100%;"></iframe>
    
    </body>